$base-font-family: 'Work Sans', sans-serif;
$base-font-size: 17px;

$base-radius: 10px;

$header-height: 70px;

$page-max-width: 1170px;

// Breakpoints
$breakpoint-small: 481px;
$breakpoint-medium: 640px;
$breakpoint-large: 1025px;
$breakpoint-extra-large: 1281px;

$base-transition-timing: .2s ease;