@import '../../scss/animations/animations.ui';
@import '../../scss/settings/settings.colors';

.container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	h1 {
		@media (max-width: 750px) {
			font-size: 20px;
			margin: {
				bottom: 0.5rem;
			}
		}
	}

	form {
		position: relative;
		display: flex;
		height: 70px;

		margin: {
			top: 1rem;
			bottom: 6rem;
			left: auto;
			right: auto;
		}

		@media (max-width: 750px) {
			font-size: 18px;
			margin: {
				bottom: 1.1rem;
			}
		}

		min-width: 280px;
		max-width: 700px;
		width: 100%;

		input {
			height: 100%;
			width: 100%;
			flex: 1;
			font-size: 22px;
			padding: 5px 10px;
			color: $color-white;
			background: $color-black;
			border: 1px solid $color-gray;
			&:focus {
				outline: none;
				border: 1px solid $color-white;
			}


		}

		button.query {
			align-items: center;
			padding: {
				left: 30px;
				right: 30px;
			}

			img {
				width: 2.1rem;
				margin-left: 0.2rem;
			}

			@media (max-width: 750px) {
				padding: {
					left: 5px;
					right: 5px;
				}

				img {
					margin: 0;
				}
			}
		}

		.error {
			position: absolute;
			bottom: 0;
			transform: translateY(100%);
			color: $color-error;
		}
	}

	.noResults {
		display: flex;
		flex-direction: column;
		align-items: center;
		font-size: 30px;
		text-transform: capitalize;
		color: $color-gray;
		margin: 0 auto;
		text-align: center;
		span {
			font-size: 50px;
			color: $color-gray-light;
			transform: rotate(90deg);
		}
	}
}
