@import '../../../scss/settings/settings';

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: $header-height;
    padding: 0 30px;
    background-color: $color-black;

    color: $color-gray-light;

    ul {
        display: flex;
        li:not(:last-child){
            margin-right: 10px;
        }
    }
}
